{% extends 'clubboard/base.html' %}

{% block content %}
    <article class="club">
        {% if club.published_date %}
            <time class="date">
                {{ club.published_date }}
            </time>
        {% endif %}
        <h2>{{ club.title }}</h2>
        <p>Interest: {{ club.interest }}
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="add_interest" value="1">Add Interest</button>
        </form>
        <p>{{ club.start_time }} - {{ club.end_time }} </br></p>
        <p>{{ club.location|linebreaksbr }}</p>
        <p>{{ club.description|linebreaksbr }}</p>
        <a href="{% url 'post_new' club.pk %}" class="my-link">
            + Add Comment
            {% include './icons/file-earmark-plus.svg' %}
        </a>
        {% for post in posts %}
            <div>
                <p>{{ post.text }}</p>
                <small>By {{ post.authors }} on {{ post.created_date }}</small>
            </div>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </article>
{% endblock %}