{% extends 'clubboard/base.html' %}

{% block content %}
    <article class="club">
        {% if club.published_date %}
            <time class="date">
                {{ club.published_date }}
            </time>
        {% endif %}
        <h2>{{ club.title }}</h2>
        <p>Interest: {{ club.interest }}</p>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="add_interest" class="btn btn-primary" value="1">Add Interest</button>
        </form></br>
        <p>{{ club.days }}: {{ club.start_time }} - {{ club.end_time }} </br></p>
        <p>Location: {{ club.location|linebreaksbr }}</p>
        <p>Sponsor: {{ club.sponsor |linebreaksbr }}</p>
        <p>{{ club.description|linebreaksbr }}</p>
        <div>
            <a href="{% url 'post_new' club.pk %}" class="my-link">
                + Add Comment
            </a>
        </div>
        {% for post in posts %}
            </br>
            <div class="outlined">
                <p>{{ post.text }}</p>
                <small>By {{ post.authors }} on {{ post.created_date }}</small>
                <a href="{% url 'reply_new' post.pk %}" class="reply-link">Reply</a>
                {% for reply in post.published_replies %}
                    <div class="reply">
                        <p>{{ reply.text }}</p>
                        <small>By {{ reply.authors }} on {{ reply.created_date }}</small>
                    </div>
                {% endfor %}
            </div>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
    </article>
{% endblock %}