{% extends 'clubboard/base.html' %}

{% block content %}
    <form method="get" class="top-menu">
        <div class="row-auto">
            <input type="text" name="search" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{% url 'club_list' %}" class="btn btn-primary">Undo</a>
        </div>
    </form>
    <a href="{% url 'club_new' %}" class="btn btn-primary">Add club</a></br></br></br></br>
    {% for club in clubs %}
        <div class="outlined">
            <article class="club">
                <time class="date">
                    {{ club.published_date }}
                </time>
                <h2><a href="{% url 'club_detail' pk=club.pk %}">{{ club.title }}</a></h2>
                <p>Interest: {{ club.interest|linebreaksbr }}</p>
                <p>{{ club.days }}: {{ club.start_time }} - {{ club.end_time }} </br></p>
                <p>{{ club.location|linebreaksbr }}</p>
            </article>
        </div></br>
    {% endfor %}
{% endblock %}